/* o.  For the Full Page display on the body without any boarders or margins on the webpage  */
    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        position: fixed;
    }

/* o.  Tabs at Home Page */
     .Header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000;
    }
        
     .Header li {
        float: left;
    }

    .Header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: courier;
    }
      /* When the mouse hovers over the header li a the background color changes to the given color */ 
     .Header li a:hover {
        background-color: #b2b2b2; 
    }
      /* When the user clicks on the Tabs of the Header, the background color changes to the given color. 
         To show mouse clicked effect. */
    .Header li a:active {
        background-color: #333;
    }

/* ******BEWARE!*******BELOW ARE "DISTINCT CODE" FOR JUST THIS PAGE******* */

/* o.  For background image at the HomePage. */
    .bg {
        /* The image used */
        background-image: url("../Images/Homepage/Patina-Dial.jpg");
        /* Full height */
         /* width: relative; */
         height: 93%;
        /*position: absolute; */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }













.ModalSignIn { 
    display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: courier;
   
}










*{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
    height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
    padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
